    html,
    body {
        *height: 100%;
    }
    #pxl_wrap,
    #pxl_wrap div {
        background: transparent;
        border: 0;
        color: #9dc8f2;
        font-size: 9px;
        vertical-align: center;
        padding: 0;
        outline: none;
        line-height: 9px;
        float: none;
        font-style: normal;
        display: block;
        font-weight: normal;
        margin: 0;
        position: static;
        cursor: default;
        font-variant: normal;
        visibility: visible;
        white-space: normal;
        overflow: hidden;
        height: auto;
        bottom: auto;
    }
    #pxl_wrap {
        color: #9dc8f2;
        font-family: Arial;
    }
    #pxl_wrap .pxl_clear {
        clear: both;
        width: 0;
        height: 0;
        *height: 1%;
    }
    #pxl_wrap .pxl_arrow_down {
        background-image: url(data:image/gif;base64,R0lGODlhBQADAIABAJ3I8v///yH5BAEAAAEALAAAAAAFAAMAAAIFhB0XC1sAOw==) !important;
    }
    #pxl_wrap .pxl_arrow_up {
        background-image: url(data:image/gif;base64,R0lGODlhBQADAIABAJ3I8v///yH5BAEAAAEALAAAAAAFAAMAAAIFTGAHuF0AOw==) !important;
    }
    #pxl_wrap .pxl_panel_wrap {
        position: fixed;
        top: 0;
        right: 0;
        width: 104px;
        height: 104px;
        z-index: 10000;
    }
    #pxl_wrap .pxl_panel {
        position: fixed;
        top: 0;
        right: -104px;
        width: 104px;
        font-size: 9px;
        line-height: 1;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==);
        padding: 5px 10px 10px;
        height: auto;
    }
	
	.admin-bar  #pxl_wrap .pxl_panel {
		top: 32px;
	}
	
    #pxl_wrap .pxl_hat {
        height: 9px;
        margin-bottom: 6px;
    }
    #pxl_wrap .pxl_title {
        float: left;
        width: 56px;
    }
    #pxl_wrap .pxl_buttons {
        float: left;
        width: 28px;
        height: 7px;
        margin-top: 1px;
        cursor: pointer;
    }
    #pxl_wrap .pxl_buttons div {
        float: left;
        width: 7px;
        height: 7px;
        background-repeat: no-repeat;
        opacity: 0.8;
        filter: alpha(opacity=80);
        cursor: pointer;
		margin-left: 3px;
    }
    #pxl_wrap .pxl_buttons .pxl_about_button {
        padding-right: 5px;
        background-image: url(data:image/gif;base64,R0lGODlhBQAHAIABAJ3I8v///yH5BAEAAAEALAAAAAAFAAcAAAIKDG6hoLvsmkyhAAA7);
        width: 5px;
    }
    #pxl_wrap .pxl_buttons .pxl_clip_button {
        padding-right: 4px;
        background-image: url(data:image/gif;base64,R0lGODlhBwAHAIABAJ3I8v///yH5BAEAAAEALAAAAAAHAAcAAAINDH5hoLzdHENUGWtdKAA7);
    }
    #pxl_wrap .pxl_buttons .pxl_cross_button {
        background-image: url(data:image/gif;base64,R0lGODlhBwAHAIABAJ3I8v///yH5BAEAAAEALAAAAAAHAAcAAAIKRH5miYr8HAyyFQA7);
    }
    #pxl_wrap .pxl_nav {
        width: 84px;
        height: 84px;
        margin-bottom: 10px;
    }
    #pxl_wrap .pxl_nav div {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpimHviUwNAgAEABzUC2Aw5loEAAAAASUVORK5CYII=);
        float: left;
        cursor: pointer;
    }
    #pxl_wrap .pxl_tl {
        width: 20px;
        height: 20px;
        border-top: 3px solid #9dc8f2;
        border-left: 3px solid #9dc8f2;
        margin: 0 7px 7px 0;
    }
    #pxl_wrap .pxl_t {
        width: 24px;
        height: 20px;
        border-top: 3px solid #9dc8f2;
        margin: 0 7px 7px 0;
    }
    #pxl_wrap .pxl_tr {
        width: 20px;
        height: 20px;
        border-top: 3px solid #9dc8f2;
        border-right: 3px solid #9dc8f2;
        margin: 0 0 7px;
    }
    #pxl_wrap .pxl_l {
        width: 20px;
        height: 24px;
        border-left: 3px solid #9dc8f2;
        margin: 0 7px 7px 0;
    }
    #pxl_wrap .pxl_nav .pxl_show {
        width: 24px;
        height: 24px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEZJREFUeNpinHviUwMDDQETA43B0LeABYtYPYVmNg7/IMLpXTygfmSlImKDoXE0J9M9DhpHg4ikHDqyg6hxNKPR1QKAAAMAbMsHlFVSABkAAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        margin: 0 7px 7px 0;
    }
    #pxl_wrap .pxl_r {
        width: 20px;
        height: 24px;
        border-right: 3px solid #9dc8f2;
        margin: 0 0 7px;
    }
    #pxl_wrap .pxl_bl {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #9dc8f2;
        border-left: 3px solid #9dc8f2;
        margin-right: 7px;
    }
    #pxl_wrap .pxl_b {
        width: 24px;
        height: 20px;
        border-bottom: 3px solid #9dc8f2;
        margin-right: 7px;
    }
    #pxl_wrap .pxl_br {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #9dc8f2;
        border-right: 3px solid #9dc8f2;
    }
    #pxl_wrap .pxl_settings {
        font-size: 9px;
        *margin-top: -10px;
        height: auto;
        width: 84px;
    }
    #pxl_wrap .pxl_settings div {
        width: 84px;
        height: 22px;
    }
    #pxl_wrap .pxl_settings input,
    #pxl_wrap .pxl_switch .pxl_bool {
        width: 39px;
        height: 8px;
        background: transparent;
        border: 1px solid #576f87;
        color: #9dc8f2;
        font-size: 9px;
        vertical-align: center;
        padding: 2px 0px 0px 2px;
        outline: none;
        line-height: 9px;
        *position: relative;
        *bottom: -10px;
        *left: 0;
        *right: 0;
        *top: 0;
        float: none;
        font-style: normal;
        display: inline;
        font-weight: normal;
        font-family: Arial;
        margin: 0 5px 10px 0;
        position: static;
        cursor: text;
        font-variant: normal;
        max-width: 44px;
        visibility: visible;
        white-space: normal;
    }
    #pxl_wrap .pxl_src input {
        width: 80px;
        max-width: 80px;
        height: 10px;
    }
    #pxl_wrap .pxl_settings .pxl_switch .pxl_bool {
        position: static;
        cursor: pointer;
        padding-top: 1px;
        padding-bottom: 1px;
        float: left;
        margin-right: 5px;
        padding: 3px;
        width: 5px;
        height: 5px;
        margin-left: 30px;
    }
    #pxl_wrap .pxl_settings .pxl_switch .pxl_bool.true {
        background-image: url(data:image/gif;base64,R0lGODlhBwAHAIABAJ3I8v///yH5BAEAAAEALAAAAAAHAAcAAAIKRH5miYr8HAyyFQA7);
        background-repeat: no-repeat;
        background-position: 2px 2px;
    }
    #pxl_wrap .pxl_settings .pxl_switch_txt {
        float: left;
        margin-top: 2px;
        *margin-top: 10px;
        width: 36px;
    }
    #pxl_wrap .pxl_roll {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 104px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 9px;
        cursor: pointer;
    }
    #pxl_wrap .pxl_roll:hover {
        background-color: #27323d;
    }
    #pxl_wrap .pxl_about {
        position: fixed;
        width: 370px;
        left: 50%;
        top: 100px;
        margin-left: -185px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==);
        padding: 10px 10px 15px 10px;
        font-size: 12px;
        display: none;
    }
    #pxl_wrap .pxl_about ol {
        padding-left: 20px;
        margin: 5px;
    }
    #pxl_wrap .pxl_about div {
        margin: 5px;
        font-size: 11px;
        line-height: 13px;
    }
    #pxl_wrap .pxl_about span {
        margin-left: 5px;
    }
    .pxl_about a,
    .pxl_about a:visited {
        color: #9dc8f2;
    }
    #pxl_wrap .pxl_pic {
        margin: 0;
        padding: 0;
        cursor: move;
        position: absolute;
        z-index: 9999;
    }
    #pxl_wrap .pxl_pic img {
        position: relative;
        display: none;
    }

.pxl-save-to-acf {
	padding: 6px 0;
	border: 1px solid #576F87;
	text-align: center;
	margin: 6px 0;
	display: none;
}

.logged-in .pxl-save-to-acf {
	display: block;
}


.pxl-save-to-acf:hover {
	padding: 6px 0;
	border: 1px solid #576F87;
	background-color: #576F87; 
	color: #fff;
	cursor: pointer;
}
